<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<main class="container">



    <!-- Header with Feedback message -->
    <div class="header">
        <h1> {{ title }} </h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock %}


</main>
</body>
</html>